.button-new-p{
    background-color: rgb(226, 207, 182);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px white solid;
}

.button-delete{
    background-color: rgb(177, 56, 56);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px white solid;
}